.user-card {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    gap: .25rem;
    margin-top: 5px;
}

.card{
    border: 1px solid black;
    padding: 5px;

}

.card > .header{
   font-size: 15px;
}

.card > .body {
    color: grey;
    font-size: 10px;
}

.hide{
    display: none;
}