<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Database</title>
</head>
<body>
    <form action="/chooseDatabase" method="post">
        <label for="mysql">Mysql</label>
        <input type="radio" name="name" value="mysql" id="mysql">
        <label for="mongodb">MOngodb</label>
        <input type="radio" name="name" value="mongodb" id="mongodb">
        <button type="submit">Submit</button>
    </form>
</body>
</html>