.from-country{
    margin-top: 20px;
    margin-bottom: 10px;
}

.wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-dropdown{
    
    max-height: 5rem;
    
}

.answer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}